<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nookzada</title>
</head>
<body>
    You are at the home page uwu
</body>
</html>