<!DOCTYPE html>
<html lang>

<head>
    <title>Error 404</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/917f90ecf4.js" crossorigin="anonymous"></script>
    
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/css/404style.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="assets/images/fav.gif" type="image/x-icon">
    <link rel="stylesheet" type = "text/css" href="css/footer.css">
    <!--//Style-CSS -->

    <!--/fontAwesome-CSS -->
    <link rel="stylesheet" href="/css/fontAwesome.css" type="text/css" media="all" />
</head>

<body>
    <div class="w3l-error-block">
        <div class="page">
            <div class="content">
                <br>
                <div class="w3l-error-grid">
                    <h1>404</h1>
                    <h2>Page not found</h2>
                    <p>Oh no! You got lost. Good thing Ankha found you!</p>
                    <a href="../../index" class="home">Go back Home</a>
                </div>
            </div>
            <img src="/images/ankha2.jpg" class="img-responsive" style="filter: brightness(50%);"/>
            <footer id="myFooter" style="padding: 50px 0 0px 0;">
                <div class="footer-copyright" style="margin-left: 3%;">
                    <p>© 2020 Nookzada. All rights reserved.</p>
                </div>
            </footer>
        </div>

        <script src="/web/assets/jquery/jquery.min.js"></script>
        <script>
            var lFollowX = 0,
                lFollowY = 0,
                x = 0,
                y = 0,
                friction = 1 / 30;

            function animate() {
                x += (lFollowX - x) * friction;
                y += (lFollowY - y) * friction;

                translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

                $('img').css({
                    '-webit-transform': translate,
                    '-moz-transform': translate,
                    'transform': translate
                });

                window.requestAnimationFrame(animate);
            }

            $(window).on('mousemove click', function (e) {

                var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
                var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
                lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
                lFollowY = (10 * lMouseY) / 100;

            });

            animate();
        </script>
    </div>
</body>

</html>