
<html>
<head>
<!-- Meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/fav.gif" type="image/x-icon">

  <title>Nookzada</title>
  <!-- CSS -->
  <link rel = "stylesheet"type = "text/css" href="/web/assets/mobirise-icons2/mobirise2.css">
  <link rel = "stylesheet" type = "text/css" href="/tether/tether.min.css">
  <link rel = "stylesheet" type = "text/css" href="/bootstrap/css/bootstrap.min.css">
  <link rel = "stylesheet" type = "text/css" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel = "stylesheet" type = "text/css" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel = "stylesheet" type = "text/css" href="/dropdown/css/style.css">
  <link rel = "stylesheet" type = "text/css" href="/animatecss/animate.css">
  <link rel = "stylesheet" type = "text/css" href="/socicon/css/styles.css">
  <link rel = "stylesheet" type = "text/css" href="/theme/css/style.css">
  <link rel="preload" type = "tet/css" as="style" href="/mobirise/css/mbr-additional.css">
  <link rel = "stylesheet" type = "text/css" href="/mobirise/css/mbr-additional.css" >
  <link rel = "stylesheet" type = "text/css" href="/css/social-links.css">
  <script type = "text/javascript" src="https://kit.fontawesome.com/917f90ecf4.js" crossorigin="anonymous"></script>
  
</head>
<body>
<!-- Navbar -->
  <section class="menu menu2 cid-s9pQC51C9p" once="menu" id="menu2-14">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container-fluid">
          <div class="navbar-brand">
              <span class="navbar-logo">
                  <a href="index">
                      <img src="/images/fav.gif" style="height: 3rem;">
                  </a>
              </span>
              <span class="navbar-caption-wrap"><a class="navbar-caption text-warning text-primary display-7" href="index">Nookzada</a></span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                  <li class="nav-item"><a class="nav-link link text-warning text-primary display-4" href="shop">Shop</a></li>
                  <li class="nav-item"><a class="nav-link link text-warning text-primary display-4" href="about">About Us</a></li>
                  <li class="nav-item"><a class="nav-link link text-warning text-primary display-4" href="contact">Contact</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link link text-warning dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">User</a>
                    <div class="dropdown-menu">
                      <a class="text-warning dropdown-item text-primary display-4" href="login">Sign in</a>
                      <a class="text-warning dropdown-item display-4" href="#" aria-expanded="false">Sign out</a>
                    </div>
                  </li>
              </ul>
              <!-- cart -->
              <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="cart"><span class="mobi-mbri mobi-mbri-shopping-cart mbr-iconfont mbr-iconfont-btn"></span>
                      CART</a></div>
          </div>
      </div>
  </nav>
    <div class="social-links">
            <a href="mailto:nookzadashop@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="tel:+62896706255135"><i class="fas fa-phone-alt"></i></a>
            <a href="https://twitter.com/nutellacooki"><i class="fab fa-twitter"></i></a>
    </div>
</section>
<!-- Navbar end -->

<!-- Headers -->
<section class="header1 cid-s9ix1nHh5h mbr-fullscreen mbr-parallax-background" id="header1-c">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(250, 250, 250);"></div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-5">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-5"><p><strong>Your most trusted store for</strong></p><p><strong>ACNH needs</strong></p></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7"><p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;------------------------------------</p></h2>
                <p class="mbr-text mbr-fonts-style display-1">
                    NOOKZADA</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-white-outline display-4" href="about"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Learn More&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="header2 cid-s9izTg59Xe mbr-fullscreen mbr-parallax-background" id="header2-d">
    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>100% Safe.</strong><br><strong>Nooklings Guaranteed!</strong></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7"><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------------------------------</p></h2>
                <p class="mbr-text mbr-fonts-style display-7">Our products are<strong> 100% guaranteed</strong> with fast&nbsp;services<br>to accomodate you. For your Animal Crossing experience, <br>we only give you the best!<br>Note: Contact us after purchasing an order for delivery!</p>
            </div>
        </div>
    </div>
</section>

<section class="header3 cid-s9iSCUyTfP mbr-fullscreen mbr-parallax-background" id="header3-n">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);"></div>

    <div class="align-center container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-6">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>CHARITY DRIVE</strong></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">------------------------------------</h2>
                <p class="mbr-text mbr-fonts-style display-7">75% of the funds will go to charitable organizations.&nbsp;<br> We'd like to extend our help to those affected by the COVID19.<br>25% of the money will go to our web development.<br>In order to enhance your expererience, we will update our website with new features once we get enough funds.</p>
                
            </div>
        </div>
    </div>
</section>
<!-- End Header -->

<!-- JS -->
  <script type = "text/javascript" src="/web/assets/jquery/jquery.min.js"></script>
  <script type = "text/javascript" src="/popper/popper.min.js"></script>
  <script type = "text/javascript" src="/tether/tether.min.js"></script>
  <script type = "text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src="/smoothscroll/smooth-scroll.js"></script>
  <script type = "text/javascript" src="/dropdown/js/nav-dropdown.js"></script>
  <script type = "text/javascript" src="/dropdown/js/navbar-dropdown.js"></script>
  <script type = "text/javascript" src="/touchswipe/jquery.touch-swipe.min.js"></script>
  <script type = "text/javascript" src="/viewportchecker/jquery.viewportchecker.js"></script>
  <script type = "text/javascript" src="/parallax/jarallax.min.js"></script>
  <script type = "text/javascript" src="/theme/js/script.js"></script>
  
  
<!-- Scroll up -->
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>