#myFooter {
  background-image: url("../images/blue_bg.png");
  padding-top: 67px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#myFooter .footer-copyright {
  padding-bottom: 5px;
  margin-bottom: 7px;
  text-align: center;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  #myFooter {
      text-align: center;
  }
}
